<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex, nofollow, noarchive">
  <meta name="referrer" content="no-referrer">
  <title>House Tracker</title>
  <link rel="icon" href="{{asset "images/favicon.png"}}">
  <link rel="stylesheet" href="{{asset "css/house-tracker.css"}}">
</head>
<body>
  <div id="app">
    <noscript>This page needs JavaScript.</noscript>
  </div>
  <script src="{{asset "js/house-tracker.js"}}"></script>
</body>
</html>
